#html,#theBody{
    color: white;
    background-image: url("../christmas.jpg");
    background-repeat:no-repeat;
    text-align:center;
}
#searchIt,#part1,#part2, button{
    color:black;
    
}
#result{
    border-style:double;
    position:absolute;
    top: 20%;
    left:34%;
    height: 40%;
    width: 40%;
    overflow-y:auto;
}
#count{
    border-style:double;
    position:absolute;
    left:34%;
    top: 60%;
    height:40%;
    width: 40%;
    overflow-y:scroll;
}