header,main,body
{
    text-align: center;
    
}
header
{
    
    font-size:3.5em;
    background-color: DarkGray;
    width:auto;
    margin: 0 auto;
    color:black;
}

#mainContent
{
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 80%;
    height: auto;
    text-align: left;
    margin: 0 auto;
     font-family: 'Lobster', cursive;
     font-size: 1.8em;
    /*
    border-style:solid;
    width:50%;
    text-align: center;
    margin: 0 auto;
    */
}
#userpicture{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin:auto;
   
}
#cards{
    padding-left: 5px;
    float: inherit;
    width: 90px;
    height: 120px;
}
#userinfo{
    display: inline-block;
}

#winnerInfo, #winnerInfo1
{
    color:#009900;
    font-size: 40px;
    text-align: center;
    padding: 35px 10px 10px 35px; 

}


#playButton
{
    padding: 35px 10px 10px 35px; 
    text-align: center;
}

input[type=submit] {
    display: inline-block;
    padding: 15px 25px;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #009933;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


input[type=submit]:active 
{
  background-color: #336600;
  box-shadow: 0 5px #333232;
  transform: translateY(4px);

}